<!-- setup.html -->
<div class="text-center container"">
  

    <form ng-submit="processForm()">

    <div>
        <h3>Deelnemers<hr></h3>
        <p><input type="text" class="form-control" placeholder="Vul voor- en achternaam van persoon 1 in." ng-model="formData.persoon1" /></p>
        <p><input type="text" class="form-control" placeholder="Vul  voor- en achternaam van persoon 2 in." ng-model="formData.persoon2" /></p>
        <p><input type="text" class="form-control" placeholder="Vul  voor- en achternaam van persoon 3 in." ng-model="formData.persoon3" /></p>
    </div>


    <div>
        <h3>Jury<hr></h3>
        <p><input type="text" class="form-control" placeholder="Vul naam van jurylid 1 in" ng-model="formData.jury1" /></p>
        <p><input type="text" class="form-control" placeholder="Vul naam van jurylid 2 in" ng-model="formData.jury2" /></p>
        <p><input type="text" class="form-control" placeholder="Vul naam van jurylid 3 in" ng-model="formData.jury3" /></p>
    </div>


    <div>
        <br/>
        <h4>Uitleg</h4>
        <div class="well well-lg">Vul de spelers in die meespelen en vul de jury namen in.</div>
    </div>

    <div>
            <button type="submit" class="btn btn-lg btn-block">Submit!</button>
    </div>

    </form>

</div>
<footer>
    <div>&nbsp;</div>
</footer>